{% extends 'base.html' %}
{% set active_page = 'add_resource_page' %}

{% block title %}Add link page{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Добавить новые веб-ресурсы</h1>
        <hr>

        <div class="mb-3">
            <h4>
                Введите ссылку:
            </h4>
        </div>

        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">

                <form id="text-form" method="post" action="{{ url_for('add_resource') }}">
                    <div class="mb-3">
                        <div class="form-group">
                            {{ form_text.csrf_token }}
                            {{ form_text.url(class="form-control", placeholder="Enter URL", id="text-input") }}
                            {{ form_text.hidden_tag() }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {% if form_text.url.errors %}
                        {% for error in form_text.url.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    {{ form_text.submit_text(class="btn btn-primary", id="sendUrlButton", disabled="true") }}

                </form>

            </div>
        </div>

        <div class="mb-3">
            <h4>
                Или прикрепите ZIP-архив с CSV файлом, где каждая строка - ссылка:
            </h4>
        </div>

        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">

                <form id="file-form" method="post" action="{{ url_for('add_resource') }}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <div class="form-group">
                            {{ form_file.csrf_token }}
                            {{ form_file.file(class="form-control", id="file-input") }}
                            {{ form_file.hidden_tag() }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {% if form_file.file.errors %}
                        {% for error in form_file.file.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <div class="alert" style="display:none;">Файл был успешно отправлен.</div>
                    </div>

                    <div class="mb-3">
                        {{ form_file.submit_file(class="btn btn-primary", id="sendFileButton", disabled="true") }}
                    </div>

                </form>
            </div>
        </div>

<script>
    const textInput = document.getElementById('text-input')
    const sendUrlButton = document.getElementById('sendUrlButton');
    const fileInput = document.getElementById('file-input');
    const sendFileButton = document.getElementById('sendFileButton');

    fileInput.addEventListener('input', () => {
        if (fileInput.files.length > 0) {
            sendFileButton.disabled = false;
        } else {
            sendFileButton.disabled = true;
        }
    });

    textInput.addEventListener('input', () => {
        if (textInput.value.trim() !== '') {
            sendUrlButton.disabled = false;
        } else {
            sendUrlButton.disabled = true;
        }
    });

</script>

{% endblock %}
