<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">

        <h1 id="fullURL"></h1>
        <hr>

        <div id="resource-container">
            <div class="col-md-6 mb-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <p>Информация об обработке файла</p>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">Статус обработки: {% if resourceData.status == "in_process" %}в обработке{% elif resourceData.status == "pending" %}в очереди на обработку{% elif resourceData.status == "succeeded" %}завершена{% endif %}</li>

                            <li class="list-group-item">Строк в файле: {{ resourceData.total }}</li>

                            <li class="list-group-item">Обработано строк в файле: {{ resourceData.processed }}</li>

                            <li class="list-group-item">Число строк с невалидными ссылками: {{ resourceData.errors.count }}</li>

                            {% if resourceData.errors.count > 0 %}
                                <li class="list-group-item">
                                    {% for errorUrl in resourceData.errors.error_urls %}
                                        {{ errorUrl }}<br>
                                    {% endfor %}
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
