<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">

    <div id="resource-container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item "><a href="{{ url_for('index') }}" class="text-decoration-none">Веб-ресурсы</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ resource_data.full_url }}</li>
            </ol>
        </nav>

        <hr>
        <h1>{{ resource_data.full_url }}</h1>

        <div class="card shadow p-3 mb-5 bg-white rounded">

            <div class="row gx-5">
                <div class="col-md-6 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img id="screenshotImg" src="data:image/png;base64,{{ resource_data.screenshot }}" alt="Картинка" class="img-fluid">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card bg-transparent shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <span>Протокол: </span><span>{{ resource_data.protocol }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Путь: </span><span>{{ resource_data.url_path }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Домен: </span><span>{{ resource_data.domain }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Доменная зона: </span><span>{{ resource_data.domain_zone }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Query-параметры: </span><span>{{ resource_data.query_params }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <h2 class="position-relative">
            Новости веб-ресурса
            <span class="translate-middle badge badge-secondary rounded-pill bg-info">
                {{ resource_data.events|length }}
                <span class="visually-hidden">unread messages</span>
            </span>
        </h2>

        {% if resource_data.events %}
            {% for event in resource_data.events %}
            <div class="card bg-transparent shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    {% if event.event_type == "resource_added" %}
                    <h5 class="card-title">Ресурс добавлен</h5>
                    {% elif event.event_type == "status_changed" %}
                    <h5 class="card-title">Обновлен статус ответа ресурса</h5>
                    {% elif event.event_type == "photo_added" %}
                    <h5 class="card-title">Добавлен скриншот содержимого веб-ресурса</h5>
                    {% elif event.event_type == "resource_deleted" %}
                    <h5 class="card-title">Веб-ресурс удален из мониторинга</h5>
                    {% endif %}
                    <p class="card-text text-end">{{ event.timestamp.strftime('%d-%m-%Y %H:%M:%S') }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h4>Нет новостей</h4>
        {% endif %}

    </div>
{% endblock %}
